

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: #fff;
    user-select: none;
}



/* TOPO */


.top-banner {
    width: 100%;
    height: 450px;
    background-image: url("Imagens/banner-2.0.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Botão HOME */
.botao-home {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: rgba(47, 111, 229, 0.6);
    padding: 8px 14px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.botao-home a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.botao-home:hover {
    background-color: rgba(47, 111, 229, 0.9);
}

/* Conteúdo */

.etapa h2 {
    font-size: 2.5rem;   /* desktop */
    line-height: 1.4;
    text-align: center;
    margin-top: 30px;
}

/* Tablets */
@media (max-width: 1024px) {
    .etapa h2 {
        font-size: 2.1rem;
    }
}

/* Mobile grande */
@media (max-width: 768px) {
    .etapa h2 {
        font-size: 1.7rem;
        margin-top: 20px;
    }
}

/* Mobile pequeno */
@media (max-width: 480px) {
    .etapa h2 {
        font-size: 1.4rem;
        line-height: 1.3;
    }
}

.mega {
    color: #f5b400;
}

.container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1.2rem;
    background-color: #5891d633;
    border-radius: 10px;
    text-align: justify;
}

/* MOBILE container*/
@media (max-width: 768px) {
    .container {
        margin: 1.5rem 1rem;
        padding: 1rem;
    }
}


/* textos */

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #2f2f2f;
    margin-bottom: 1rem;
    text-align: center;
}

.resultado-texto p{
    font-size: 1.6rem;
}

.resultado-texto {
    max-width: 760px;
    margin: 2rem auto;
    padding: 1rem 1.5rem;
    border-radius: 12px;
    line-height: 1.7;
}

/* TÍTULO */
.container h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: clamp(1.4rem, 4vw, 2.2rem);
    margin: 40px 20px;
    text-align: center;
    color: rgb(81, 40, 244);
    line-height: 1.3;
}

@media (min-width: 768px) {
    .container h1 {
        font-size: 1.8rem;
        margin: 40px;
    }
}

@media (min-width: 1024px) {
    .container h1 {
        font-size: 2rem;
    }
}



/* TEXTO PADRÃO */
.h3-subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 0.90rem;        /* Mobile */
    color: #353535;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.3;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .h3-subtitle {
        font-size: 1rem;
    }
}
@media (min-width: 1024px) {
    .h3-subtitle {
        font-size: 1rem;
    }
}
/* video */

.video {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.video video {
    width: 100%;
    max-width: 520px;   /* CONTROLA O TAMANHO */
    height: auto;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}


/* texto-conteudo */
.resultado-texto strong {
    font-weight: 800;
    color: #1f1f1f;
}


.resultado-texto .destaque {
    color: #000000;
    font-weight: 500;
}

.resultado-texto .destaque span {
    font-weight: 600;
    color: #f5b400;
}


.resultado-texto .pergunta {
    font-weight: 500;
    color: #2b2b2b;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .resultado-texto {
        padding: 1.2rem;
    }

    .resultado-texto h1 {
        font-size: 1.3rem;
    }

    .resultado-texto p {
        font-size: 1.3rem;
    }
}




/* preparar  */

.botao-preparar-filho {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* botão em si */
.botao-preparar-filho a {
    background: linear-gradient(95deg, #00acf5, #303df8);
    color: #ffffff;
    padding: 14px 22px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.2s;
}

.botao-preparar-filho a:hover {
    transform: scale(1.03);
}

/* MOBILE */
@media (max-width: 768px) {
    .botao-preparar-filho a {
        width: 100%;
        text-align: center;
    }
}



/* banner mobile */
@media (max-width: 768px) {
    .top-banner {
        height: 220px;
        background-image: url("Imagens/banner-2.0.2-mobile.jpeg");
    }
}

/* responsividade do video */

@media (max-width: 768px) {
    .video video {
        max-width: 100%;
    }
}