

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: #fff;
    user-select: none;
}



/* TOPO */


.top-banner {
    width: 100%;
    height: 450px;
    background-image: url("Imagens/banner-2.0.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}



/* Conteúdo */

.etapa h2 {
    font-size: 2.5rem;   /* desktop */
    line-height: 1.4;
    text-align: center;
    margin-top: 30px;
}

/* Tablets */
@media (max-width: 1024px) {
    .etapa h2 {
        font-size: 2.1rem;
    }
}

/* Mobile grande */
@media (max-width: 768px) {
    .etapa h2 {
        font-size: 1.7rem;
        margin-top: 20px;
    }
}

/* Mobile pequeno */
@media (max-width: 480px) {
    .etapa h2 {
        font-size: 1.4rem;
        line-height: 1.3;
    }
}

.mega {
    color: #f5b400;
}

.container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1.2rem;
    background-color: #5891d633;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 5px;
}



/* MOBILE container*/
@media (max-width: 768px) {
    .container {
        margin: 1.5rem 1rem;
        padding: 1rem;
    }
}


/* textos */




.resultado-texto p{
    font-size: 1.6rem;

}

.resultado-texto {
    max-width: 760px;
    margin: 2rem auto;
    padding: 1rem 1.5rem;
    border-radius: 12px;
    line-height: 1.7;
}





/* TÍTULO */
h1 {
    font-size: 1.5rem;
    text-align: center;
    color: #555;
    margin: 12px 0 18px;
    font-weight: 700;
}

/* linha parabéns */
.divider {
    height: 2px;
    background: linear-gradient(90deg, transparent, #ccc, transparent);
}


@media (min-width: 768px) {
    h1 {
        font-size: 1.8rem;
        margin: 20px;
        font-weight: 600;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 2rem;
        font-weight: 600;   
    }
}



/* TEXTO PADRÃO */
.aviso-video {
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    text-align: center;
    color: #fff;
}

.aviso-video {
    background-color: #f5b400;
    max-width: 400px;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    
}

@media (min-width: 768px) {
    .aviso-video {
        font-size: 1.5rem;
    }
}
@media (min-width: 1024px) {
    .aviso-video {
        font-size: 1.5rem;
    }
}
/* video */

.video {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.video video {
    width: 100%;
    max-width: 520px;   /* CONTROLA O TAMANHO */
    height: auto;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}


/* texto-conteudo */


@media (min-width: 769px) {
    .resultado-texto p,
    .container {
        text-align: justify;
        hyphens: auto;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .resultado-texto p,
    .container {
        text-align: center;
    }
}   



.resultado-texto .destaque span {
    font-weight: 600;
    color: #f5b400;
}



/* RESPONSIVO */
@media (max-width: 768px) {
    .resultado-texto {
        padding: 1.2rem;
    }

    .resultado-texto h1 {
        font-size: 1rem;
    }

    .resultado-texto p {
        font-size: 1rem;
    }
}




/* preparar  */

.botao-preparar-filho {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* botão em si */
.botao-preparar-filho a {
    background: linear-gradient(95deg, #00acf5, #303df8);
    color: #ffffff;
    padding: 14px 22px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.2s;
}

.botao-preparar-filho a:hover {
    transform: scale(1.03);
}

/* MOBILE */
@media (max-width: 768px) {
    .botao-preparar-filho a {
        width: 100%;
        text-align: center;
    }
}




.security {
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 0.85rem;
}





/* banner mobile */
@media (max-width: 768px) {
    .top-banner {
        height: 220px;
        background-image: url("Imagens/banner-2.0.2-mobile.jpeg");
    }
}

/* responsividade do video */

@media (max-width: 768px) {
    .video video {
        max-width: 100%;
    }
}