* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --box-color: #5891d633;
}

/* TOP banner */
.top-banner {
    width: 100%;
    height: 350px;
    background-image: url("imagen/banner-2.0.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    min-height: 100vh;
    background: #fff;
    user-select: none;
}


.box {
  max-width: 900px;
  width: 100%;
  margin: 80px auto 40px;
  padding: 30px 1.2rem 1.2rem;
  background-color: var(--box-color);
  border-radius: 10px;
  text-align: center;
  position: relative;
}

/* conteúdo do box */

/* cabeçalho do box */




















.security {
    text-align: center;
    font-size: 1.2rem;
}

/* ==========================
   RESPONSIVIDADE GERAL
========================== */

/* top banner para mobile */
@media (max-width: 768px) {
    .top-banner {
        height: 220px;
        background-image: url("imagen/banner-2.0.2-mobile.jpeg");
    }
}
