* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --box-color: #5891d633;
    --blue-header: #2b59c3;
    --blue-gradient: linear-gradient(180deg, #3c6fd1, #274fa8);
    --white: #ffffff;
    --destaque:#ffcc00;
}

body {
    min-height: 100vh;
    background-color: #fff;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.top-banner {
    width: 100%;
    height: 450px;
    background-image: url("imagen/banner-2.0.png");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}



.titulo-geral {
    text-align: center;
    padding: 20px 10px;
}

.titulo-geral h2 {
    font-size: 2.2rem;
    color: #333;
    line-height: 1.2;
}

.titulo-geral .mega {
    color: #ffcc00;

}


/* =========================================
   CAIXA PRINCIPAL (BOX)
   ========================================= */

.box-main {
    max-width: 750px;
    width: 92%;
    margin: -100px auto 40px;
    margin-top: 50px;
    border-radius: 16px;
    padding: 30px;
    position: relative;
    z-index: 10;
    background: var(--box-color);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.linha {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 97%;
    height: 10px;
    background: #0004d5;
    border-radius: 5px;

}





.container {
    width: 100%;
    max-width: 550px;
}

.section {
    background: var(--box-color);
    border: 1px solid #aeb4f5;
    border-radius: 12px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.section h3 {
    font-size: 1rem;
    color: #625f5fac;
    margin-bottom: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-bottom: 10px;
    background: var(--blue-gradient);
    border-radius: 12px 12px 0px 0px;
    margin-top: -16px;
    margin-left: -16px;
    margin-right: -16px;
}

.header h2 {
    font-size: 1.2rem;
    color: white;
}



.periodo img {
    width: 60px;
    margin: 5px;
}

.periodo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}


.icon {
    margin-right: 10px;
    font-size: 1.2rem;
}

.content p {
    font-size: 0.95rem;
    line-height: 1.4;
    margin: 5px 0;
}

.content strong {
    font-weight: 800;
}

/* Estilo de Preços e Opções */
.option {
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.option.active {
    color: #1b5e20;
    flex-wrap: wrap;
}

.price {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2e7d32;
    width: 100%;
    margin-top: 5px;
}

.tip {
    font-size: 0.98rem !important;
    color: #555;
}

/* Seleção de Dias */
.days {
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.small {
    font-size: 0.8rem;
    color: #666;
}

/* Botão Azul */
.btn-submit {
    width: 100%;
    background: linear-gradient(180deg, #1e4eb8 0%, #0d328c 100%);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.btn-submit:hover {
    filter: brightness(1.1);
}






.footer-text {
    text-align: center;
    font-size: 0.9rem;
    color: #696868c4;
    margin-top: 15px;
}



.security {
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 0.85rem;
}

/* banner mobile */
@media (max-width: 768px) {
    .top-banner {
        height: 220px;
        background-image: url("imagen/banner-2.0.2-mobile.jpeg");
    }
}